<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>layout1</title>
	<link rel="stylesheet" href="css1.css">
</head>
<body>
	<div class="wrap">
		<div class="header">header</div>
		<div class="content">
			<div class="subContent">
				<div class="nav">nav</div>
				<div class="ads_conve_Wrap">
					<div class="ads">ads</div>
					<div class="conve">conve</div>
				</div>
			</div>
			<div class="sidebar">sidebar</div>
			<div class="main">main</div>
		</div>
		<div class="footer">footer</div>
	</div>	
</body>
</html>